@import "tailwindcss";

@theme{
  --color-bg-100:#f5f5f5;
--color-bg-200:#fff;
--color-bg-300:#22c55e;
--color-bg-400:rgba(0, 0, 0, 0.5);
  --color-text-100:#1a1a1a;
  --color-text-200:#e5e5e5;
  --color-text-300:#999;
  --color-text-400:#666;
  --color-border-100:#e5e5e5;
}

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
